@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 60%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.App {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font: bold;
    width: 80vw;
    height: 90vh;
    border-radius: 20px;
    outline: 0.5px solid darkgray;
}

.tile {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
}
.tile + .tile {
    margin-left: 10px;
}

.center-game {
    grid-column: 2/5;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.letter-button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.letter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
}

.letter-button:hover {
    background-color: #f0f0f0;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
    flex: auto;
}

.guess-button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.guess-button {
    background-color: lightgray;
    align-self: center;
    flex: 1;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
    justify-content: center;
    justify-self: center;
}

.guesses-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.CorrectLocation-tile {
    background-color: green;
    color: white;
    align-self: center;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    font-size: 18px;
    justify-content: center;
    justify-self: center;
}

.InWord-tile {
    background-color: yellow;
    align-self: center;

    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    font-size: 18px;
    justify-content: center;
    justify-self: center;
}

.NotInWord-tile {
    background-color: grey;
    align-self: center;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    font-size: 18px;
    justify-content: center;
    justify-self: center;
}

.title-buttons {
    font: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

.title-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
}

.guess-tile {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
}

.title-button-yellow {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
}

.title-button-grey {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
}

.title-button-green {
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
}

.win-text {
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.letter-button-active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    min-width: 50px;
    min-height: 50px;

    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;
}

.letter-button-inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    min-width: 50px;
    min-height: 50px;

    font-size: 18px;
    cursor: pointer;
    background-color: dimgray;
}
